@import url('https://fonts.googleapis.com/css?family=Arimo|Merriweather|Noto+Sans|Roboto:400,700|Roboto+Slab|Rubik&display=swap');

html {
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
}


h1 {
  font-family: 'Roboto';
  font-size: 350%;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  letter-spacing: 3px;
  margin: 0;
  color: rgb(0, 0, 0);
}

h2 {
  font-size: 110%;
  font-family: 'Roboto';
}

p {
  font-size: 100%;
}

li {
    font-size: 100%;
    text-align: left;
}

html {
  background-color: #FDCA40;
}

body {
  font-family: 'Merriweather';
  letter-spacing: 2px;
  text-align: center;
}

img {
  display: block;
  margin: 0 auto;
}

button {
  font-family: 'Roboto';
  padding: 0px;
  font-size: 90%;
  margin: 10px;
  width: 120px;
  height: 40px;
  cursor: pointer;
  background-color: white;
  color: black;
  box-shadow: -4px 4px rgb(212, 212, 212);
  border-radius: 15px;
  letter-spacing: 0.75 px;
  line-height: 1.4;
}

button:hover {
  background: #f3f3f3;
  transition-duration: 0.2s;
}

button:active {
  box-shadow: -1px 1px rgb(212, 212, 212);
  transform: translate(-4px, 4px);
}

div {
  margin: 20px;
  padding: 30px;
  background-color: white;
}